.btn {
  color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 10px 30px;
  -webkit-box-shadow: 0 5px 10px -4px #000;
          box-shadow: 0 5px 10px -4px #000;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn:hover {
    -webkit-box-shadow: 0 0 10px -4px #000;
            box-shadow: 0 0 10px -4px #000;
    color: #fff; }

.btn-send {
  width: 5%;
  padding: 5px;
  position: relative;
  margin-left: 20px;
  top: -35px; }

.btn-send img {
  width: 85%; }

.btn-green {
  background-color: #5e90ad; }

.btn-red {
  background-color: #dc343e; }

body {
  font-family: sans-serif; }

.chat-page {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.chat-window {
  width: 70%;
  -webkit-box-shadow: 0 5px 30px -10px #000;
          box-shadow: 0 5px 30px -10px #000;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden; }

.chat-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.chat-header, .chat-footer {
  text-align: center;
  padding: 20px;
  -webkit-box-shadow: 0 5px 20px -5px #000;
          box-shadow: 0 5px 20px -5px #000;
  position: relative; }

.chat-header__author {
  font-weight: 700;
  font-size: 18px; }

.chat-body {
  height: 400px;
  overflow-y: scroll; }

.messages {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.message {
  border-color: #eceff1;
  background-color: #d4d4d4;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #eee;
  width: 70%;
  float: left; }

.message--mine {
  float: right;
  color: #fff;
  background-color: #694586; }

.message__photo {
  width: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 10px; }

.message__author {
  font-size: 18px;
  font-weight: 500; }

.message__text {
  margin: 0.5em auto;
  font-size: 15px; }

.message__date {
  font-size: 11px; }

.message--delete-hide {
  display: none; }

.message--delete {
  display: block;
  float: right;
  color: #fff;
  font-size: 17px;
  outline: none;
  border: none;
  background-color: transparent; }
  .message--delete:hover {
    color: red; }

.chat-footer textarea {
  width: 80%;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 0 0 10px -5px #000;
          box-shadow: 0 0 10px -5px #000;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  outline: none; }
